body {
    font-family: sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #4CAF50; /* Matches header background color from welcome.html */
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    padding: 20px; /* Adjust padding based on your layout preference */
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center content horizontally */

  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .card-header {
    padding: 15px 20px;
    font-weight: bold;
    background-color: #f5f5f5;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .input-group-text {
    background-color: #f5f5f5;
    border: none;
  }
  
  .btn-primary {  /* Uses Bootstrap class for primary button */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
  }
  
  .list-group-item {
    padding: 10px 20px;
    border-color: #ddd;
  }
  
  .text-success {
    color: #28a745;
  }
  
  .text-info {
    color: #17a2b8;
  }
  .vera {
    margin-right: 10px; 
  }
  .error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}