<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Benefits Pro - Login</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
  {% load static %}  <link rel="stylesheet" href="{% static 'login.css' %}">  </head>
<body>
  <header>
    <h1>Benefits Pro</h1>
  </header>
  <main>
    <div class="container d-flex flex-wrap">  <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2>Login</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Employee ID</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class = "vera">

        <p class="lead">Benefits Pro Login Requirements</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><span class="fa fa-check text-success"></span> Be a registered employee of the company</li>
          <li class="list-group-item"><span class="fa fa-check text-success"></span> Possess a valid employee ID and password</li>
          <li class="list-group-item">
            <span class="fa fa-info-circle text-info"></span> For first-time users, please <a href="#">register here</a>
          </li>
          <li class="list-group-item">
            <span class="fa fa-info-circle text-info"></span> If you forgot your password, <a href="#">click here</a> to reset it
          </li>
        </ul>
      </div>
    </div>
  </main>
</body>
</html>
