<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits Page</title>
    {% load static %}<link rel="stylesheet" href="{% static 'benefits.css' %}">
</head>
<body>
    {% include '/home/vera/Desktop/benefitspro/myproject/myapp/templates/sidebar.html' %} 

    <div class="main-content">

    <header>
        <h1>Benefits Pro - Benefits </h1>
    </header>
    <main>
        <div class="btn-container">
            <a href="{% url 'enrollment' %}" class="btn">New Application</a>
            <a href="#" class="btn">View Applications</a>
        </div>
        <h2>Benefits</h2>
        <table>
            <thead>
                <tr>
                    <th>Benefit Program</th>
                    <th>Date Applied</th>
                    <th>Status</th>
                    <th>Documents</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>#</td>
                    <td>
                        <a href="#" class="btn">Edit</a>
                        <a href="#" class="btn">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
{% include '/home/vera/Desktop/benefitspro/myproject/myapp/templates/footer.html' %} 

</html>
