<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benefits Page</title>
    {% load static %}<link rel="stylesheet" href="{% static 'benefits.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    {% include 'favicon.html' %}

</head>
<body>
    {% include 'sidebar.html' %} 

    <div class="main-content">

    <header>
        <h1>Benefits Pro - Benefits </h1>
    </header>
    <main>
        <div class="btn-container">
            <a href="{% url 'enrollment' %}" class="btn"><i class="fas fa-plus"></i>
                New Application</a>
            <a href="#" class="btn">View Applications</a>
        </div>
        <h2>Benefits</h2>
<table>
    <thead>
        <tr>
            <th>Benefit Program</th>
            <th>Date Applied</th>
            <th>Status</th>
            <th>Documents</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="5"><h3>Accepted Benefits</h3></td>
        </tr>
        {% if accepted_benefits %}
        {% for benefit in accepted_benefits %}
            <tr>
                <td>{{ benefit.program }}</td>
                <td>{{ benefit.date_applied }}</td>
                <td>{{ benefit.status }}</td>
                <td>{{ benefit.documents }}</td>
                <td>
                    <a href="#" class="btn">Edit</a>
                    <a href="#" class="btn">Delete</a>
                </td>
            </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">No accepted benefits available.</td>
        </tr>
    {% endif %}

    <tr>
        <td colspan="5"><h3>Pending Benefits</h3></td>
    </tr>
    {% if pending_benefits %}
        {% for benefit in pending_benefits %}
        {% for application in applications %}

            <tr>
                <td>{% for benefit in application.benefits.all %}
                    {{ benefit.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}</td> {% endfor %}
                <td>{{ benefit.date_applied }}</td>
                <td>{{ benefit.status }}</td>
                <td>{{ benefit.documents }}</td>
                <td>
                    <a href="#" class="btn">Edit</a>
                    <a href="#" class="btn">Delete</td>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No pending benefits available.</td>
        </tr>
    {% endif %}

    <tr>
        <td colspan="5"><h3>Rejected Benefits</h3></td>
    </tr>
    {% if rejected_benefits %}
        {% for benefit in rejected_benefits %}
            <tr>
                <td>{{ benefit.program }}</td>
                <td>{{ benefit.date_applied }}</td>
                <td>{{ benefit.status }}</td>
                <td>{{ benefit.documents }}</td>
                <td>
                    <a href="#" class="btn">Edit</a>
                    <a href="#" class="btn">Delete</a>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No rejected benefits available.</td>
        </tr>
    {% endif %}
</tbody>
</table>

    </main>
</body>
{% include 'footer.html' %} 

</html>
