{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Benefits Enrollment</title>
    <link rel="stylesheet" href="{% static 'enrollment.css' %}">

</head>

<body>
    {% include '/home/vera/Desktop/benefitspro/myproject/myapp/templates/sidebar.html' %} 

<div class="main-content">

    <div class="container2">
        <header>
            <h1>Apply for Your Benefits</h1>
            <p>Secure your financial future and explore health, wellness, and retirement plans that empower you to live life to the fullest.</p>
        </header>
        <form action="{% url 'process_enrollment' %}" method="post">
            {% csrf_token %}
            <section>
                <h2>Personal Information</h2>
                <label for="employee_id">Employee ID:</label>
                <input type="text" id="employee_id" name="employee_id" required><br>

                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required><br>

                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required><br>
            </section>
            <section>
                <h2>Benefit Selection</h2>
                <p>Please select the benefits you wish to enroll in:</p>
                
            {% for benefit in benefits %}
                <label for="benefit_{{ benefit.id }}">{{ benefit.name }}</label>
                <input type="checkbox" id="benefit_{{ benefit.id }}" name="benefits[]" value="{{ benefit.id }}"><br>
            {% endfor %}
                <input type="submit" value="Submit Enrollment">
            </section>
        </form>
    </div>
</body>
</html>
